<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <ui:composition template="/template.xhtml"
                    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    xmlns:h ="http://xmlns.jcp.org/jsf/html"
                    xmlns:f ="http://xmlns.jcp.org/jsf/core"
                    xmlns:p ="http://primefaces.org/ui">
        <ui:define name="title">
            <h:outputText></h:outputText>
        </ui:define>
        <ui:define name="body"><style>
                .orange
                {
                    display: inline-block; margin: 10px;
                    background: #FFCC00; border: 1px solid rgba(0,0,0,0.15); border-radius: 4px; transition: all 0.3s ease-out;
                    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2); text-decoration: none;
                    text-shadow: 0 1px gray; color: white; padding: 3px;
                }
                .secDiv
                {
                    position: absolute; left:8%; width: 80%; top: 50px; display: inline-block; margin: 10px;
                    padding: 8px 15px; border: 1px solid rgba(0,0,0,0.15); border-radius: 4px; transition: all 0.3s ease-out;
                    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2), inset 0 3px 2px rgba(255,255,255,.22), 
                        inset 0 -3px 2px rgba(0,0,0,.15), inset 0 20px 10px rgba(255,255,255,.12), 0 0 4px 1px rgba(0,0,0,.1), 0 3px 2px rgba(0,0,0,.2);
                }
                .mainDiv
                {
                    position: absolute; left:0%; width: 96%; top: 40px; height:700px; display: inline-block; margin: 10px;
                    padding: 8px 15px; border: 1px solid rgba(0,0,0,0.15); border-radius: 4px; transition: all 0.3s ease-out;
                    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2); text-decoration: none;
                    text-shadow: 0 1px rgba(255,255,255,0.7); opacity:0.3;
                }.Save
                {
                    height: 20px;
                    width: 20px;
                    background:grey url('../img/Save.png') no-repeat;
                }
            </style>
            <div style="position: relative;">
                <img src="../img/Banner.png"/>
            </div>
            <div style="position: relative;">
                <body style="background-color: white;"> 
                    <br/><br/>
                    <div class="secDiv" style="position: absolute; top:50px; left: 10%;">
                        <div class="title ui-widget-header ui-corner-all" style="height: 40px;">
                            <div style="position: absolute; top: 13px;">
                                &nbsp;&nbsp;<label style=" font-size: x-large; ">Create New Device</label>
                            </div>
                        </div>
                        <br/>
                        <h:panelGroup id="messagePanel" layout="block">
                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        </h:panelGroup>
                        <center>
                            <h:form>
                                <h:link styleClass="orange" outcome="/index" value="Home"/>
                                <h:commandLink styleClass="orange" action="#{deviceController.prepareList}" value="Device List" immediate="true"/>
                                <br/><br/>
                                <p:panelGrid columns="2">
                                    <h:outputLabel value="#{admin.CreateDeviceLabel_pkDeviceId}" for="pkDeviceId" />
                                    <p:inputText id="pkDeviceId" value="#{deviceController.selected.pkDeviceId}" title="#{admin.CreateDeviceTitle_pkDeviceId}" required="false" disabled="true" requiredMessage="#{admin.CreateDeviceRequiredMessage_pkDeviceId}"/>
                                    <h:outputLabel value="#{admin.CreateDeviceLabel_deviceUuid}" for="deviceUuid" />
                                    <p:inputText id="deviceUuid" value="#{deviceController.selected.deviceUuid}" title="#{admin.CreateDeviceTitle_deviceUuid}" />
                                    <h:outputLabel value="#{admin.CreateDeviceLabel_fkAppuserId}" for="fkAppuserId" />
                                    <p:selectOneMenu id="fkAppuserId" value="#{deviceController.selected.fkAppuserId}">
                                        <f:selectItems value="#{appuserController.itemsAvailableSelectOne}"/>
                                    </p:selectOneMenu>
                                </p:panelGrid>
                                <br />
                                <h:commandLink styleClass="orange Save" action="#{deviceController.create}" title="Save" />
                                </h:form>
                        </center>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </body>
            </div>
        </ui:define>
    </ui:composition>

</html>
